.container {
  text-align: center;
  overflow-y: scroll;
  height: 100vh;
}

.cardContainer {
  height: 100px;
  border-style: none none solid none;
  border-color: black;
  border-bottom-width: thin;
}
