# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

lib
coverage
node_modules/
.vscode

config.json

# Electron app
release
ui/app/main.prod.js
ui/app/main.prod.js.map
uiapp/renderer.prod.js
ui/app/renderer.prod.js.map
ui/app/style.css
ui/app/style.css.map
dist
dll
main.js
main.js.map
*.LICENSE*